<h1>My tasks</h1>
<ul>
  <% @tasks.each do |task|%>
    <li>
      <input type="checkbox" disabled <%= "checked" if task.completed %>>
      <%= link_to task.title, task_path(task) %> <%= link_to("", task_path(task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "fa-solid fa-trash") %>
    </li>
  <% end %>
</ul>
<hr>
<p><%= link_to("+ Create new task", new_task_path) %></p>
